#container{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  font-family: 'Roboto';
}
#row{
  width: 100%;
}
#thumbnail{
  float: right;
  width: 25%;
  height: auto;
  margin-right: 10%;
}
#instructions{
  padding-top: 3%;
}
table{
  padding-bottom: 3%;
}
.left-col{
  width: auto;
}
.right-col{
  width: 80%;
  padding-left: 2vw;
}
td{
  font-size: 1em;
}
p{
  font-size: 1em;
}